<h1>Change Master Key</h1>
<form action="/admin/createapplicationkey" method="POST">
    <div>
        <label for="name">New Master key 1</label>
        <input type="text" id="MK_adminA" name="MK_adminA" required>
    </div>
    <div>
        <label for="name">New Master key 2</label>
        <input type="text" id="MK_adminA" name="MK_adminA" required>
    </div>
    
    
    <div>
        <label for="name">Master key 1</label>
        <input type="text" id="MK_adminA" name="MK_adminA" required>
    </div>

    <div>
        <label for="name">Master key 2</label>
        <input type="text" id="MK_adminB" name="MK_adminB" required>
    </div>
    
    <button type="submit">Submit</button>
</form>

<a href="/">SSM Admin Menu</a>