<h1>Get Application Key Information</h1>
<form action="/admin/getapplicationkeyinfo" method="POST">
    
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <label for="name">Master key 1</label>
        <input type="text" id="MK_adminA" name="MK_adminA" required>
    </div>

    <div>
        <label for="name">Master key 2</label>
        <input type="text" id="MK_adminB" name="MK_adminB" required>
    </div>
    
    <button type="submit">Submit</button>
</form>

<a href="/">SSM Menu</a>