<h1>SSM Admin Menu</h1>
<h4>If this is the first time starting the SSM, you need to create a 2-part master key. </br> Each part must be alphanumeric and 16 to 100 characters in length. Keys can be easily generated
    <a href=" https://www.browserling.com/tools/random-hex">here.</a> </h4>


<a href="/admin/createapplicationkey">Create Application Key</a>
<br/>
<a href="/admin/masterkey">Change Master Key</a> 
<br/>
<a href="/admin/rotatekeyencryptionkey">Rotate Key Encryption Key</a>
<br/>
<a href="/admin/getapplicationkeysinfo">Get Application Keys Information</a>
<br/>
<a href="/admin/getapplicationkeyinfo"> Get Application Key Information</a>
<br/>
<a href="/admin/updateapplicationkey">Update Application Key</a>

<h1>SSM Application Client Menu</h1>

<a href="/client/encrypt">Encrypt</a>
<br/>
<a href="/client/decrypt">Decrypt</a>
